In [75]:
import pandas as pd
import math
import numpy as np

In [76]:

transactions_df = pd.read_csv('Cust.csv')
transactions_df

     items
0  A,B,C,D
1    A,B,E
2  A,E,F,C
3  A,Z,Y,B

In [70]:
transactions_df.index.rename('ID', inplace=True)
transactions_df.rename(columns={'items' : 'item_list'}, inplace=True)

In [71]:
trans_df = transactions_df.item_list.str.split(',')
trans_df

ID
0    [A, B, C, D]
1       [A, B, E]
2    [A, E, F, C]
3    [A, Z, Y, B]
Name: item_list, dtype: object

In [72]:
def prune(data,support_val):
    
    df = data[data.support >= support_val] 
    return df
    
def count_itemset(transactions_df, itemsets):
    
    count = {}
    for item_set in itemsets:
        set_A = set(item_set)
        for row in trans_df:
            set_B = set(row)
        
            if set_B.intersection(set_A) == set_A: 
                if item_set in count.keys():
                    count[item_set] += 1
                
                else:
                    count[item_set] = 1
                
    data = pd.DataFrame()
    data['item_sets'] = count.keys()
    data['support'] = count.values()
    
    return data

def count_item(items):
    
    count_item_ind = {}
    for row in items:
        for i in range(len(row)):
            if row[i] in count_item_ind.keys():
                count_item_ind[row[i]] += 1
            else:
                count_item_ind[row[i]] = 1
    
    data = pd.DataFrame()
    data['item_sets'] = count_item_ind.keys()
    data['support'] = count_item_ind.values()
    data = data.sort_values('item_sets')
    return data


def join(list_of_items):
    itemsets = []
    i = 1
    for entry in list_of_items:
        proceeding_items = list_of_items[i:]
        for item in proceeding_items:
            if(type(item) is str):
                if entry != item:
                    tuples = (entry, item)
                    itemsets.append(tuples)
            else:
                if entry[0:-1] == item[0:-1]:
                    tuples = entry+item[1:]
                    itemsets.append(tuples)
        i = i+1
    if(len(itemsets) == 0):
        return None
    return itemsets

In [73]:
def apriori(t_data,supp):
    freq = pd.DataFrame()
    
    df = count_item(t_data)
   
    while(len(df) != 0):
        
        df = prune(df, supp)
    
        if len(df) > 1 or (len(df) == 1 and int(df.support >= supp)):
            freq = df
        
        itemsets = join(df.item_sets)
    
        if(itemsets is None):
            return freq
    
        df = count_itemset(t_data, itemsets)
    return df

In [74]:
freq_item_sets = apriori(trans_df, 2)
freq_item_sets

  item_sets  support
0    (A, B)        3
1    (A, C)        2
2    (A, E)        2